name: Build and deploy ASP.Net Core app to Azure Web App - esatto-outreach-api-dev

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Restore
        run: dotnet restore Esatto.Outreach.Api/Esatto.Outreach.Api.csproj

      - name: Build
        run: dotnet build Esatto.Outreach.Api/Esatto.Outreach.Api.csproj -c Release --no-restore

      - name: Publish
        run: dotnet publish Esatto.Outreach.Api/Esatto.Outreach.Api.csproj -c Release -o ${{ env.DOTNET_ROOT }}/myapp --no-build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-publish
          path: ${{ env.DOTNET_ROOT }}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: api-publish
          path: ./publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_5C7DBDD37E164BE18D93C5AE4C58B54B }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_2AE29F7AE7414A0AAD1B541D47E16412 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8C01AEC1398B461DB263E9600FAAD86F }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'esatto-outreach-api-dev'
          slot-name: 'Production'
          package: ./publish
          clean: true
